.todo-list {
  padding: 15px;

  h2 {
    text-align: center;
    padding-bottom: 15px;

    @media (max-width: 991px) {
      text-align: left;
    }
  }
}

.todo-add {
  padding-top: 15px;
  max-width: 600px;
  margin: 0 auto;

  @media (max-width: 991px) {
    max-width: none;
  }
}

.todos {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;

  li {
    flex: 0 0 50%;
    padding: 10px;

    @media (max-width: 991px) {
      flex: 0 0 100%;
    }
  }
}
