
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body, html {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

.mat-card {
  background: #f7f7f7;
}

@media (max-width: 991px) {
  .mat-card-header {
    padding-right: 120px;
  }
}



.mat-form-field {
  width: 100%;
}
